/* replys */
body.replys-hide div[data-testid="replyBtn"] > div,
body.replys-hover div[data-testid="replyBtn"]:not(:hover) > div,

/* reposts */
body.reposts-hide div[data-testid="repostBtn"] > div,
body.reposts-hide div[data-testid="repostCount"] > span:nth-child(1),
body.reposts-hover div[data-testid="repostBtn"]:not(:hover) > div,
body.reposts-hover div[data-testid="repostCount"]:not(:hover) > span:nth-child(1),

/* reposts in bsky.app */
body.reposts-hide div[aria-label="Opens 2 options"] div[data-testid="repostCount"],
body.reposts-hover div[aria-label="Opens 2 options"]:not(:hover) div[data-testid="repostCount"],

/* likes */
body.likes-hide div[data-testid="likeBtn"] > div,
body.likes-hide div[data-testid="likeCount"] > span:nth-child(1),
body.likes-hover div[data-testid="likeBtn"]:not(:hover) > div,
body.likes-hover div[data-testid="likeCount"]:not(:hover) > span:nth-child(1),

/* followers */
body.followers-hide div[data-testid="profileHeaderFollowersButton"] > div:nth-child(1),
body.followers-hover div[data-testid="profileHeaderFollowersButton"]:not(:hover) > div:nth-child(1),

/* follows */
body.following-hide div[data-testid="profileHeaderFollowsButton"] > div:nth-child(1),
body.following-hover div[data-testid="profileHeaderFollowsButton"]:not(:hover) > div:nth-child(1),

/* posts */
body.posts-hide div.css-175oi2r.r-iphfwy.r-779j7e.r-tskmnb > div:nth-child(4) > div:nth-child(3),
body.posts-hover div.css-175oi2r.r-iphfwy.r-779j7e.r-tskmnb > div:nth-child(4) > div:nth-child(3):not(:hover) {
  visibility: hidden;
}

/* always show 'posts' unit in profile */
div.css-175oi2r.r-iphfwy.r-779j7e.r-tskmnb > div:nth-child(4) > div:nth-child(3) > span.css-1qaijid {
  visibility: visible !important;
}

/* notifications */
body.notifications-hide a[aria-label="Notifications"]
div.css-1rynq56.r-wzwllv.r-kdyh1x.r-jwli3a.r-1enofrn.r-vw2c0b.r-1liledf.r-s1qlax.r-u8s1d.r-ipm5af,
body.notifications-hover a[aria-label="Notifications"]:not(:hover)
div.css-1rynq56.r-wzwllv.r-kdyh1x.r-jwli3a.r-1enofrn.r-vw2c0b.r-1liledf.r-s1qlax.r-u8s1d.r-ipm5af {
  color: rgb(0, 0, 0, 0);
  width: 15px;
  white-space: nowrap;
}

/* notifications-list */
body.notifications-list-hide div.css-175oi2r.r-1pi2tsx > div > div
> div > div > div > div > div.css-175oi2r.r-1pi2tsx
> div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-1sncvnh
> div > div > div > div.css-175oi2r.r-5kkj8d.r-18u37iz.r-1sp51qo.r-ry3cjt
> div.css-175oi2r.r-13awgt0 > div:first-child > div:nth-child(3),
body.notifications-list-hide div.css-1rynq56.r-vw2c0b.r-1ss6j8a {
  visibility: hidden;
  height: 2px;
  width: 1px;
}

/* blueswan emoji */
body.blueswan-show div.css-175oi2r.r-u8s1d.r-c6jqw7.r-1ki14p2.r-1w88a7h > div[role="link"]:first-child::after {
  content: '💙🦢';
}

/* always show 'Repost' message in modal */
div[data-testid="repostModal"] > div > div[data-testid="repostBtn"] > div {
  visibility: visible !important;
}
