/* replys */
body.replys-hide *[data-testid="replyBtn"] > div,
body.replys-hover *[data-testid="replyBtn"]:not(:hover) > div,

/* reposts */
/* repostCount & repostCount-expanded & quoteCount-expanded */
body.reposts-hide *[data-testid="repostCount"],
body.reposts-hover div:has(div[data-testid="repostCount"]):not(:hover) > div[data-testid="repostCount"],
body.reposts-hide *[data-testid="repostCount-expanded"] > span:nth-child(1),
body.reposts-hover *[data-testid="repostCount-expanded"]:not(:hover) > span:nth-child(1),
body.reposts-hide *[data-testid="quoteCount-expanded"] > span:nth-child(1),
body.reposts-hover *[data-testid="quoteCount-expanded"]:not(:hover) > span:nth-child(1),

/* likes */
/* likeCount & likeCount-expanded */
body.likes-hide *[data-testid="likeBtn"] > div:nth-child(2),
body.likes-hide *[data-testid^="likeCount"] > span:nth-child(1),
body.likes-hover *[data-testid="likeBtn"]:not(:hover) > div:nth-child(2),
body.likes-hover *[data-testid^="likeCount"]:not(:hover) > span:nth-child(1),

/* followers */
body.followers-hide *[data-testid="profileHeaderFollowersButton"] > span:nth-child(1),
body.followers-hover *[data-testid="profileHeaderFollowersButton"]:not(:hover) > span:nth-child(1),

/* follows */
body.following-hide *[data-testid="profileHeaderFollowsButton"] > span:nth-child(1),
body.following-hover *[data-testid="profileHeaderFollowsButton"]:not(:hover) > span:nth-child(1),

/* posts */
body.posts-hide *[data-testid="profileHeaderFollowsButton"] + div,
body.posts-hover *[data-testid="profileHeaderFollowsButton"] + div:not(:hover) {
  visibility: hidden;
}

/* always show 'posts' unit in profile */
*[data-testid="profileHeaderFollowsButton"] + div > span {
  visibility: visible !important;
}

/* messages */
body.messages-hide a[href="/messages"] > div > div,
body.messages-hover a[href="/messages"]:not(:hover) > div > div,

/* notifications */
body.notifications-hide a[href="/notifications"] > div > div,
body.notifications-hover a[href="/notifications"]:not(:hover) > div > div {
  color: rgb(0, 0, 0, 0);
  width: 15px;
  white-space: nowrap;
}

/* messages sp-view */
body.messages-hide div.r-iphfwy.r-19urhcx:nth-child(3) > div,
body.messages-hover div.r-iphfwy.r-19urhcx:nth-child(3):not(:hover) > div,

/* notifications sp-view */
body.notifications-hide div.r-iphfwy.r-19urhcx:nth-child(4) > div,
body.notifications-hover div.r-iphfwy.r-19urhcx:nth-child(4):not(:hover) > div {
  width: 15px;
  > div {
    color: rgb(0, 0, 0, 0);
    white-space: nowrap;
  }
}

/* notifications-list */
/* single user (who liked your post) */
body.notifications-list-hide div[data-testid="notificationsScreen"] div[role="link"][data-testid^="feedItem-by-"]
> div > div:nth-child(2) > div:nth-child(3)[dir="auto"],
/* multiple user (who and n others liked your post) */
body.notifications-list-hide div[data-testid="notificationsScreen"] div[role="link"][data-testid^="feedItem-by-"]
> div > div:nth-child(2) > div > div:nth-child(3)[dir="auto"] {
  visibility: hidden;
  height: 2px;
  width: 1px;
}

/* suggested-for-you */
body.suggested-for-you-hide
  div.css-175oi2r:has(
    > div.css-175oi2r
      > div.css-175oi2r:nth-child(2)
      > div.css-175oi2r:nth-child(2)
      > a.css-146c3p1.r-1loqt21[href="/search"][aria-label="Browse more suggestions"]
  ) {
  display: none;
}

/* blueswan emoji */
body.blueswan-show a.r-bplmwz.r-f727ji.r-19554kt {
  &::after {
    content: "💙🦢";
  }
  &:hover {
    text-decoration: none !important;
  }
}

/* always show 'Repost' message in modal */
div[data-testid="repostModal"] > div > div[data-testid="repostBtn"] > div {
  visibility: visible !important;
}
