body {
  font-size: 1rem;
  overflow: hidden;
  margin: 10px;
  width: 280px;
  font-family: sans-serif;
}

h1 {
  font-size: 1.25em;
  text-align: center;
}

visibility-select::part(wrapper) {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

visibility-select::part(select) {
  width: 90px;
}

/* dark */
body.dark, body.dark visibility-select::part(select) {
  background-color: #222;
  color: white;
}
